html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.popup {
  position: absolute;
  top: 0;
}
.backdrop {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100vh;
  background-color: #1d203b52;
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.pop {
  z-index: 99;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0F1123;  
  padding: 2rem 2.5rem;
  border-radius: 4px;
}
.backdrop .pop h1 {
  color: #fff;
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 600;
}
.walletContainer {
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-radius: 4px;
  padding: 0 2rem;
  margin: 0.5rem;
}
.walletContainer img {
  width: 2.5rem;
  height: 2.5rem;
  object-fit: cover;
}
.walletContainer p {
  font-size: 1.25rem;
  font-weight: 300;
  color: #fff;
  padding-left: 1rem;
  cursor: pointer;
}
.walletContainer p:hover {
  color: #4ACAFC;
}
.voteContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.voteAction {
  display: flex;
  justify-content: center;
  column-gap: 1rem;
}
.projectCard-vote {
  width: 100%;
  display: flex;
}
.projectCard-vote button{
  background-color: #4ACAFC;
  border: none;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0 4px 4px 0;
}
.projectCard-vote input{
  width: 80%;
  padding: 0.25rem 1rem;
  border: 0.25px solid #4ACAFC;
  border-radius: 4px 0 0 4px;
  background-color: transparent;
  color: #fff;
}
.inputContainer {
  background-color: #1d203b52;
  border-radius: 4px;
  padding: 1rem;
}
.inputContainer input{
  border: none;
  background-color: transparent;
  color: #eeeeee;
}
.inputContainer span {
  color: #4ACAFC;
  font-size: 1rem;
  font-weight: 300;
  cursor: pointer;
}
.inputContainer input:focus {
  outline: none;
}

.voteAction button {
  border: none;
  border-radius: 4px;
  padding: 0.5rem 2rem;
  background-color: #4ACAFC;
  color: #fff;
}

/* Nominator */
.selectNominator {
  position: relative;
  width: 100%;
  border: none;
  border-radius: 4px;
  background-color: #0F1123;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  color: #eeeeee;
  appearance: none;
}
.selectNominator:focus {
  outline: none;
}
.selectNominator option {
  background-color: #4ACAFC;
}


/* winnerContainer */
.winner-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  padding: 1rem 2rem;
  background-color: #1d203b52;
  margin: 0.5rem;
}

.winner-container h1{
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
}
.winner-container h2{
  color: #aeaeae;
  font-size: 1rem;
  font-weight: 500;
}
.winner-container h3{
  color: #fff;
  font-size: 1rem;
  font-weight: 300;
}
.winner-container .winner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.winner-container .winner img {
  width: 2.5rem;
  height: 2.5rem;
  object-fit: cover;
}

/* staking */
.staking-heading{
  display: flex;
  justify-content: space-between;
}
.nominator-indicator {
  padding: 0.5rem 1rem;
  background-color: #0DB2FF;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
  text-align: center;
  height: max-content;
}
.staking-stats{
  width: 100%;
  display: flex;
  justify-content: space-between;
  column-gap: 2rem;
  align-items: center;
  margin-bottom: 2rem;
}
.stats{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1d203b52;
  padding: 1rem;  
}
.stats h4{
  text-align: center;
  color: #aeaeae;
  text-transform: uppercase;
}
.toggle-stakers{
  display: flex;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 400;
  border-radius: 4px;
  margin: 2rem 0;
}
.toggle-stakers .active {
  padding: 0.5rem 1rem;
  background-color: #0DB2FF;
  color: #fff;
  cursor: pointer;
}
.toggle-stakers .staker {
  padding: 0.5rem 1rem;
  background-color: #1d203b52;
  color: #fff;
  border: 1px solid #0DB2FF;
  cursor: pointer;
}
.wrapper {
  width: 100%;
  display: flex;
  column-gap: 1rem;
}
.balance-detail{
  padding: 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  background-color: #1d203b52;
  min-height: 40vh;
}
.balance-detail div{
  height: max-content;
}
.balance-detail h2{
  font-size: 2rem;
  font-weight: 800;
  height: max-content;
}
.balance-detail h2 p {
  font-size: 1rem;
  font-weight: 300;
  color: #aeaeae;
}
.balance-detail .line {
  width: 100%;
  height: 0.5px;
  background-color: rgb(42, 44, 63);
}
.balance-detail .rewards{
  display: flex;
  justify-content: space-between;
}
.balance-detail button{
  padding: 0.5rem 1rem;
  background-color: #0DB2FF;
  border-radius: 4px;
  color: #fff;
  height: max-content;
  text-transform: uppercase;
  margin-top: 1rem;
}
.balance-detail .rewards h2 input {
  width: 8rem;
  background-color: transparent;
  border: none;
  color: #fff;
}
.balance-detail h4{
  font-size: 1rem;
  font-weight: 300;
  color: #0DB2FF;
}
.balance-detail .rewards .max{
  border: none;
  color: #0DB2FF;
  background-color: transparent;
}
.balance-detail ul {
  list-style: decimal;
  padding: 0 1rem;
}
.balance-detail ul li{
  font-size: 1.5rem;
  font-weight: 300;
  color: #aeaeae;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.balance-detail ul li button{
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  margin: 0;
}

/* Custom Scroll */
::-webkit-scrollbar {
  width: 0.2em;
  height: 0.2em;
}

::-webkit-scrollbar-track {
  background: #0F1123;
}

::-webkit-scrollbar-thumb {
  background: #4ACAFC;
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background: #85dcff;
}